.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.logo {
  background-image: url("/Swoosh-Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 4.5rem;
  height: 4.5rem;
  aspect-ratio: 1;
  left: 1rem;
  top: 1rem;
  position: absolute;
}
