.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text-1 {
  font-size: 2rem;
  font-weight: 1000;
  color: var(--text-color);
}

.hero-text-2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}
