.send-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.qr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.qr-text {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--text-color);
}

.qr-code {
  padding: 1.5rem;
  background-color: #f9f8f8;
  border: 1px solid var(--primarycolor);
  border-radius: 1rem;
}

.or-text {
  font-size: 1rem;
  font-weight: 550;
  color: #737377;
}

.code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.code-text {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 600;
}

.code-inputs-boxes {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.code-input {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid var(--primarycolor);
  border-radius: 8px;
  background-color: #f8f8f8;
  color: var(--text-color);
  outline: none;
  aspect-ratio: 1;
}

.expiry-text {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 550;
}

.time-expiry {
  color: var(--accent-color);
}

.actions-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #f8f8f8;
  border-radius: 2rem;
}

.code-input {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  color: var(--text-color);
}

.send-button {
  color: #535353;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 650;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.receive-button {
  color: #535353;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 650;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button.active,
.receive-button.active {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.parent-send-code-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}